/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: #fff;
  background-image: repeating-linear-gradient(
      to right,
      var(--bg-grid-color),
      transparent 2px
    ),
    repeating-linear-gradient(to bottom, var(--bg-grid-color), transparent 2px),
    repeating-linear-gradient(
      to bottom,
      var(--bg-grad-start) 0.01%,
      var(--bg-grad-end)
    );
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--ff-main);
  font-variation-settings: "wght" var(--fw-main, 400);
  color: var(--accent-color, #000);
}

/* ШАПКА */

.header {
  margin: 100px auto;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  display: grid;
  justify-content: center;
  align-content: end;
  gap: 25px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  margin-block-end: 100px;
  font-family: var(--ff-decor);
  font-size: 18px;
  line-height: 1;
}

.header__logo,
.header__title {
  text-align: center;
  text-transform: uppercase;
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}


.header__theme-menu {
  justify-self: center;
  font-size: 14px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding: 0;
  padding-inline-start: 16px;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  animation: move-arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 16px;
  width: calc(100% - 16px);
  height: 2px;
  background-color: currentColor;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:disabled,
.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible:after {
  transform: scale(1);
}

/* КОНТЕНТ */

.main {
  margin: 0 auto;
}

.card-list {
  display: grid;
  gap: 50px;
}

.card {
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--fw-card-title);
  line-height: 21.78px;
  padding: 5px 10px;
  border-block-end: 2px solid var(--accent-color);
}

.card__image-container {
  position: relative;
  max-height: 696px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-label {
  position: absolute;
  z-index: 2;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--ff-decor);
  font-size: 14px;
  font-weight: 400;
  color: var(--accent-color);
  opacity: 0.5;
  text-shadow: 0px 0px 1px var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__text {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--fw-card-text, 400);
}

.card__like-container {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  padding: 25px;
  padding-block-start: 0px;
}

.card__icon-button {
  display: grid;
  place-items: center;
  height: 39px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.card__like-button {
  position: relative;
  width: 130px;
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--btn-blend-color);
  mix-blend-mode: difference;
}

/* КНОПКА "СОХРАНИТЬ НА ПАМЯТЬ" */

.save-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  margin: 50px auto 105px;
  color: var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
}

.save-btn__icon {
  position: relative;
  z-index: 2;
  max-width: 21px;
  max-height: 21px;
  color: var(--btn-blend-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save-btn {
    flex-direction: column;
  }

  .save-btn__icon {
    max-width: 28px;
    max-height: 28px;
  }
}

.save-btn__text {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-family: var(--ff-decor);
  color: var(--btn-blend-color);
  mix-blend-mode: difference;
}

/* СОСТОЯНИЯ КНОПОК И АНИМАЦИЯ */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.btn:hover::after {
  transform: scaleX(1);
}

/* МОДАЛКА */

dialog {
  position: fixed;
  inset: 0;
  width: 357px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding: 30px;
  font-family: var(--ff-decor);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: var(--accent-color);
}

dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.dialog__capture {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  max-width: 39px;
  max-height: 39px;
}

.dialog__button {
  width: 100%;
  position: relative;
  padding: 12.5px 0;
}

.dialog__button-text {
  position: relative;
  z-index: 2;
  color: var(--btn-blend-color);
  mix-blend-mode: difference;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

/* ФИЛЬТРЫ */

.card__image_bright {
  filter: brightness(200%);
}

.card__image_contrast {
  filter: contrast(150%);
}

.card__image_blur {
  filter: blur(5px);
}

.card__image_opacity {
  filter: opacity(0.2);
}

.card__image_grayscale {
  filter: grayscale(1);
}

.card__image_saturate {
  filter: saturate(200%);
}

.card__image_mixed {
  filter: saturate(200%) invert(0.2) hue-rotate(170deg);
}
